div#MainPage{
    background-color: white;
}

div#MainPage div#ads
{
     padding-top: 50px;
}

div#adscontainer{
    display: flex;
    justify-content: center;
    align-items: stretch;
    padding-top: 3%;
}